node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
dragon_gym/build/
dragon_gym/test-results/
android/
# .env
# .env.*
# server/.env
server/node_modules/

# TwinCAT generated
**/_Boot/
**/_CompileInfo/
**/_Libraries/
**/_References/
**/_PlcSign/
**/_Rebuild/
**/*.tmc
**/*.tpy
**/*.tpyx
**/*.tpz
